<head>
    <% include ./partials/head %>
    <% include ./partials/styles %>
</head>


<body>
    <p>
        <%= __dircontents.length %> item(s) found
    </p>

    <ul>
        <li>
            <a href="/" class="directory">
                <i class="fa fa-folder" aria-hidden="true"></i>
                /
            </a>
        </li>

        <% if(path !== initial_path){ %>
        <li>
            <a href="/open?path=<%= step_back_dir %>&type=directory" class="directory">
                <i class="fa fa-folder" aria-hidden="true"></i>
                ../
            </a>
        </li>
        <% } %>

        <% __dircontents.forEach(function(item) { %>
        <li>
            <% if(item.type == "directory"){ %>

            <a class="<%= item.type %>" href="<%=item.open_html_link%>">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <%=item.name%>
            </a>

            <% }else{ %>

            <a class="<%= item.type %>" href="<%=item.open_html_link%>">
                <i class="fa fa-file" aria-hidden="true"></i>
                <%=item.name%>
            </a>

            <% } %>
        </li>
        <% }); %>
    </ul>
    <h6>
        <a href="https://github.com/nabilridhwan/Filer">
            Read the Tutorial on Github
        </a>
    </h6>
</body>