<head>
    <% include ./partials/head %>
    <% include ./partials/styles %>
</head>


<body>
    <h1><%= dir_log[count] %></h1>

    <p>Found <%=__dir_contents__.length%> item(s) in <%=dir_log[count]%></p>

    <ul>

        <!--Only for root!-->
        <li>
            <a href="/">/</a>
        </li>

        <% __dir_contents__.forEach(function(item) { %>
        <li>
            <a href="<%=item.open_html_link %>">[X]</a> <a href="/directory?d=<%=dir_log[count]%>/<%=item.name%>"><%=item.name%></a> <a href="<%= item.download_html_link %>">[↓]</a> 
        </li>
        <% }); %>
    </ul>

    <h6><a href="/welcome">View the welcome page</a></h6>
</body>