<head>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <title>Filer v4.0.0-internal_beta</title>

            <style>

                @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

                body{
                    color: black;
                    font-family: 'Roboto Mono', monospace;
                }

                a{
                    color:black;
                }

                h1,h2,h3,h4,h5,h6{
                    font-weight: 400;
                }
            </style>
        </head>


        <body>
            <h1>Testing EJS Templating</h1>
            <p>The current status of this storage server is under testing. Some hyperlinks redirect to the wrong endpoint.</p>

            <p>When the storage server is stable and vigorous testing have been conducted, this page is subjected to changes and the 'testing' status will be removed</p>

            <ul>

                <!--Only for root!-->
                <li>
                    <a href="/">[/]</a> <a href="/">[DIR]</a> <a href="/">HOME</a>
                </li>

                <% dir_contents.forEach(function(item) { %>

                <li>
                    <a href="<%= item.download_html_link %>">[<%= item.type.toUpperCase() %>]</a> <a href="/directory?d=<%=dir_log[count]%>/<%=item.name%>">[DIR]</a> <a href="<%=item.open_html_link %>"><%=item.name%></a>
                </li>
                <% }); %>

            </ul>
        </body>